<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <link rel = "stylesheet" href = "/static/css/style.css">
    <title>CITYGID</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- UIkit CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.15.22/dist/css/uikit.min.css" />

    <!-- UIkit JS -->
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.15.22/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.15.22/dist/js/uikit-icons.min.js"></script>

    <style media="screen">
        .backs1{
            background-color: #f0ede9
        }
        .uk-card{
            border-radius: 25px;
        }

        .uk-button{
            border-radius: 25px;
        }

        img{
            border-radius: 25px 25px 0 0;
        }
    </style>
</head>
<body>
<div class="uk-section uk-section-muted uk-padding">
    <div class="uk-child-width-1-5@xl uk-child-width-1-3@m uk-child-width-1-2@s uk-child-width-1-1" uk-grid>
        <div class="uk-text-left">
            <h1>CITYGID</h1>
        </div>
        <div class="uk-text-center uk-padding-small">
            <button class="uk-button uk-button-link uk-margin-small-left">How we work</button>
            <button class="uk-button uk-button-link uk-margin-small-left">FAQ</button>
            <button class="uk-button uk-button-link uk-margin-small-left">Contacts</button>
        </div>
        <div class="uk-text-right">
            <#if user.email??>
            <div class="logo">
                <a href="/personalCabinet/${user.id}"><img src="/static/images/pngwing.com(1).png" alt="LOGO"></a>
            </div>
            <!--<h3>Имя пользователя: ${user.name}</h3>
            <form action="/logout" method="post">
                <input type="hidden" name="_csrf" value="${_csrf.token}">
                <input type="submit" value="Выйти"/>
            </form>-->
            <#else>
            <form action="/login" method="get">
                <input class="uk-button uk-button-secondary" type="submit" value="Войти"/>
            </form>
        </#if>
    </div>
</div>
</div>
<div class="uk-section uk-section-muted uk-padding">
    <div class="uk-child-width-1-7@xl uk-child-width-1-5@m uk-child-width-1-3@s uk-child-width-1-1 uk-text-center" uk-grid>
        <#list places as place>
        <div>
            <div class="uk-card uk-card-default">
                <div class="uk-card-media-top">
                    <img src="/images/${place.previewImageId}" alt="logo">
                </div>
                <div class="uk-card-body">
                    <h3 class="uk-card-title">${place.title}</h3>
                    <p>${place.description}</p>
                    <form action="/place/${place.id}" method="get">
                        <input class="uk-button uk-button-secondary" type="submit" value="Подробнее"/>
                    </form>
                </div>
            </div>
        </div>
    </#list>
</div>
</div>
<#if user.isAdmin()>
<form action="/place/create" method="post" enctype="multipart/form-data">
    Название места: <input type="text" name="title"/><br><br>
    Описание места: <input type="text" name="description"/><br><br>
    Цена места: <input type="number" name="price"/><br><br>
    Город места: <input type="text" name="city"/><br><br>
    Владелец места: <input type="text" name="owner"/><br><br>
    Первая фотография: <input type="file" name="file1"/><br><br>
    Вторая фотография: <input type="file" name="file2"/><br><br>
    Третья фотография: <input type="file" name="file3"/><br><br>
    <input type="hidden" name="_csrf" value="${_csrf.token}">
    <input type="submit" value="Добавить место" />
</form>
</#if>
</body>
</html>

<!--<form action="/" method="get">
               Поиск по названию места: <input type="text" name="title"><br>
               <input type="submit" value="Поиск"/>
           </form>-->

<!--<#if user.isAdmin()>
                        <a href="/admin">АДМИНКА</a>
                    </#if>-->